.header {
    color: white;
    background-color: #37AAD6;
}

a .navbar-brand {
    color: white;
}

.footer {
    color: white;
    background-color: #37AAD6;
    padding: 10px;
}

body {
    color: #777777;
}

.whitetext {
    color: white;
}

td.tweet-name {
    white-space: nowrap;
}

.tweet-subject {
    white-space: nowrap;
    color: #37AAD6;
    font-weight: bold;
}

dl {
	margin: 0 0 15px;
	padding: 0 10px 10px;
	border: 7px #EEEEEE solid;
}
dl dt {
	float: left;
	width: 15em;
	padding: 10px 0;
	font-weight: bold;
	text-indent: 1em;
	line-height: 150%;
}
dl dd {
	padding: 10px 0 10px 7em;
	line-height: 150%;
	border-bottom: 1px #CCCCCC solid;
}

td {
    height:50px;line-height: 50px;
}

.news{
    color: red;
}
